# /etc/systemd/system/raar-import.service

[Unit]
Description=Raar audio archive import

[Service]
Type=simple
User=raar
Nice=10
Environment="RAAR_LOG=stdout"
EnvironmentFile=/var/www/raar/.env
ExecStart=/usr/bin/scl enable rh-ruby30 -- /var/www/raar/current/bin/import
